.graph {
    background-color: rgb(206, 85, 153);
}
.mountPoint {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    vertical-align: top;
    overflow: hidden;
    background-color: white;
}

.node {
    cursor: pointer;
}

.link {
    fill: none;
    stroke: #7A7A7A;
    stroke-opacity: .8;
}

.link:hover {
    stroke: #525252;
    stroke-width: 4px;
    stroke-opacity: .8;
}

._loading-overlay {
    top: 200px !important;
}