.graph-header {
    height: 34px;
    background: rgb(206, 85, 153);                                                                        /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, rgba(206, 85, 153, 0.4) , rgb(206, 85, 153)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(206, 85, 153, 0.4), rgb(206, 85, 153));      /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(206, 85, 153, 0.4), rgb(206, 85, 153));    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(206, 85, 153, 0.4) , rgb(206, 85, 153));     /* Standard syntax */
}

.mountPoint {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    vertical-align: top;
    overflow: hidden;
    background-color: white;
}

.node {
    cursor: pointer;
}

.label {
    fill: #3d3d3d;
    stroke: #3d3d3d;
}

.link {
    fill: none;
    stroke: #7A7A7A;
    stroke-opacity: .8;
}

.link:hover {
    stroke: #525252;
    stroke-width: 4px;
    stroke-opacity: .8;
}

._loading-overlay {
    top: 200px !important;
}